{#
 #  (c) 2024 Alberto Morón Hernández
 #}
<footer class="footer mt-auto py-3 bg-black text-white">
    <div class="container text-center">
        <p class="font-protest-strike">&copy; {{ metadata.footerDate }} DepositDuck</p>
    </div>
</footer>
