<div class="row post-link position-relative">

    <!-- Mobile title. -->
    <div class="col-12 mt-1 d-md-none">
        <span class="font-monospace text-muted small">{{ post.data.updatedAt }}</span>
    </div>
    <div class="col-12 mb-2 d-md-none">
        <a href="{{ post.data.path }}" class="h1 stretched-link">{{ post.data.title }}</a>
    </div>

    <div class="col-12 ms-md-3">
        <div class="row flex-row">
            <div class="col-auto p-md-0 post-link__image">
                <img src="/assets/img/post{{ post.data.path }}.svg" class="pt-md-1" alt="{{ post.data.title }}">
            </div>

            <!-- Mobile blurb. -->
            <div class="col d-flex align-items-center d-md-none">
                <p>{{ post.data.blurb }}</p>
            </div>

            <!-- > sm title & blurb. -->
            <div class="col-12 col-md ms-md-3 d-none d-md-block">
                <div class="row">
                    <div class="col-12"><span class="font-monospace text-muted small">{{ post.data.updatedAt }}</span></div>
                    <div class="col-12 mb-1"><a href="{{ post.data.path }}" class="h2 stretched-link">{{ post.data.title }}</a></div>
                    <div class="col-12 pb-2"><p>{{ post.data.blurb }}</p></div>
                </div>
            </div>
        </div>
    </div>

</div>
